@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Regular'), local('Baloo-Regular'), url(https://fonts.gstatic.com/s/baloo/v5/6xKhdSpJJ92I9MWPCms.ttf) format('truetype');
}
@font-face {
  font-family: 'Modak';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Modak'), url(https://fonts.gstatic.com/s/modak/v5/EJRYQgs1XtIEskMA-hE.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 62.5%;
}
body {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: 'Rubik', sans-serif;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo', sans-serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}
h1 {
  font-size: 4.8rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
h2 {
  font-size: 3.6rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
h3 {
  font-size: 2.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
h4 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
h6 {
  font-size: 1.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
header {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #3D6B4B;
  color: #eee;
}
header .navbar {
  align-self: stretch;
  display: flex ;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  header .navbar {
    display: flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 801px) {
  header .navbar .brand.logo {
    font-size: 3.6rem;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  header .navbar .brand.logo {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  header .navbar .brand.logo {
    font-size: 2.4rem;
  }
}
header .navbar .brand.logo img.placeholder {
  border-color: #eee;
}
@media only screen and (min-width: 801px) {
  header .navbar nav {
    width: 50%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  header .navbar nav {
    width: 60%;
  }
}
@media only screen and (max-width: 500px) {
  header .navbar nav {
    width: 100%;
    margin-top: 16px;
  }
}
header .navbar nav ul {
  display: flex ;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
header .navbar nav a {
  background-color: do-not-change;
  color: inherit;
  text-decoration: none;
}
header .navbar nav a:hover {
  background-color: do-not-change;
  color: inherit;
  text-decoration: underline;
}
main section {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
footer {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #333;
  color: #eee;
}
footer div {
  margin-top: 8px;
  margin-bottom: 8px;
}
footer div:first-child {
  margin-top: 0;
}
footer div:last-child {
  margin-bottom: 0;
}
footer .brand.logo {
  font-size: 2.4rem;
}
footer .brand.logo img.placeholder {
  background-color: #eee;
  border-color: #eee;
}
body > * {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 801px) {
  body > * {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body > * {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (max-width: 500px) {
  body > * {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media only screen and (min-width: 801px) {
  body.home .features .features.wrapper {
    display: flex ;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body.home .features .features.wrapper {
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}
@media only screen and (max-width: 500px) {
  body.home .features .features.wrapper {
    display: flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}
body.home .features .feature.card {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  border-radius: 8px;
  border: 1px solid #333;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
body.home .features .feature.card .cool {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
body.home .features .feature.card:nth-of-type(5n + 1) .cool {
  background-color: #518999;
}
body.home .features .feature.card:nth-of-type(5n + 2) .cool {
  background-color: #75B7B7;
}
body.home .features .feature.card:nth-of-type(5n + 3) .cool {
  background-color: #995B58;
}
body.home .features .feature.card:nth-of-type(5n + 4) .cool {
  background-color: #3D6B4B;
}
body.home .features .feature.card:nth-of-type(5n) .cool {
  background-color: #99B272;
}
body.home .features .feature.card .info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
@media only screen and (min-width: 801px) {
  body.home .features .feature.card {
    flex-basis: 30%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body.home .features .feature.card {
    flex-basis: 45%;
  }
}
@media only screen and (max-width: 500px) {
  body.home .features .feature.card {
    flex-basis: 100%;
  }
}
body.home .features .feature.card .cool {
  min-height: 128px;
  min-width: 128px;
}
body.home .target-users .target-users.wrapper {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
body.home .target-users .target-user.card {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  flex-basis: 100%;
}
body.home .target-users .target-user.card .cool {
  min-height: 256px;
  min-width: 256px;
}
body.home .target-users .target-user.card:nth-of-type(2n+1) {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  border-radius: 8px;
  border: 1px solid #333;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  flex-direction: row;
}
body.home .target-users .target-user.card:nth-of-type(2n+1) .cool {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n + 1) .cool {
  background-color: #518999;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n + 2) .cool {
  background-color: #75B7B7;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n + 3) .cool {
  background-color: #995B58;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n + 4) .cool {
  background-color: #3D6B4B;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n) .cool {
  background-color: #99B272;
}
body.home .target-users .target-user.card:nth-of-type(2n+1) .info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
body.home .target-users .target-user.card:nth-of-type(2n) {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  border-radius: 8px;
  border: 1px solid #333;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  flex-direction: row-reverse;
}
body.home .target-users .target-user.card:nth-of-type(2n) .cool {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n + 1) .cool {
  background-color: #518999;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n + 2) .cool {
  background-color: #75B7B7;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n + 3) .cool {
  background-color: #995B58;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n + 4) .cool {
  background-color: #3D6B4B;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n) .cool {
  background-color: #99B272;
}
body.home .target-users .target-user.card:nth-of-type(2n) .info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
@media only screen and (max-width: 500px) {
  body.home .target-users .target-user.card:nth-of-type(1n) {
    display: flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    border-radius: 8px;
    border: 1px solid #333;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    flex-direction: column;
  }
  body.home .target-users .target-user.card:nth-of-type(1n) .cool {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n + 1) .cool {
    background-color: #518999;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n + 2) .cool {
    background-color: #75B7B7;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n + 3) .cool {
    background-color: #995B58;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n + 4) .cool {
    background-color: #3D6B4B;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n) .cool {
    background-color: #99B272;
  }
  body.home .target-users .target-user.card:nth-of-type(1n) .info {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
body.about .our-team .team-members.wrapper {
  display: flex ;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
body.about .our-team .team-member.card {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  border-radius: 8px;
  border: 1px solid #333;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
body.about .our-team .team-member.card .cool {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
body.about .our-team .team-member.card:nth-of-type(5n + 1) .cool {
  background-color: #518999;
}
body.about .our-team .team-member.card:nth-of-type(5n + 2) .cool {
  background-color: #75B7B7;
}
body.about .our-team .team-member.card:nth-of-type(5n + 3) .cool {
  background-color: #995B58;
}
body.about .our-team .team-member.card:nth-of-type(5n + 4) .cool {
  background-color: #3D6B4B;
}
body.about .our-team .team-member.card:nth-of-type(5n) .cool {
  background-color: #99B272;
}
body.about .our-team .team-member.card .info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
@media only screen and (min-width: 801px) {
  body.about .our-team .team-member.card {
    flex-basis: 30%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body.about .our-team .team-member.card {
    flex-basis: 45%;
  }
}
@media only screen and (max-width: 500px) {
  body.about .our-team .team-member.card {
    flex-basis: 100%;
  }
}
body.about .our-team .team-member.card .cool {
  display: flex ;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
body.about .our-team .team-member.card .cool img.team-member.photo {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  border: 2px solid #eee;
  background-color: #111;
}
.brand.logo {
  font-family: 'Modak', sans-serif;
  display: flex ;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.brand.logo img {
  flex-shrink: 0;
  flex-grow: 0;
}
.brand.logo img.placeholder {
  height: 1.5em;
  width: 1.5em;
  background-color: #F686BD;
  border-radius: 50%;
  border: 2px solid #F686BD;
}
.brand.logo span {
  margin-top: 0.2em;
  margin-left: 0.4em;
}
*,
*:before,
*:after {
  outline: 1px solid #F686BD;
}
