@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Regular'), local('Baloo-Regular'), url(https://fonts.gstatic.com/s/baloo/v5/6xKhdSpJJ92I9MWPCms.ttf) format('truetype');
}
@font-face {
  font-family: 'Modak';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Modak'), url(https://fonts.gstatic.com/s/modak/v5/EJRYQgs1XtIEskMA-hE.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-clip: padding-box;
}
html {
  width: 100%;
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  color: #333;
  background-color: #eee;
}
body {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo', sans-serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}
h1 {
  font-size: 4.8rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
h2 {
  font-size: 3.6rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
h3 {
  font-size: 2.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
h4 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
h6 {
  font-size: 1.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
a {
  background-color: do-not-change;
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: do-not-change;
  color: inherit;
  text-decoration: underline;
}
header {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #3D6B4B;
  color: #eee;
}
header .navbar {
  align-self: stretch;
  display: flex ;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  header .navbar {
    display: flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 801px) {
  header .navbar .brand.logo {
    font-size: 3.6rem;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  header .navbar .brand.logo {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  header .navbar .brand.logo {
    font-size: 2.4rem;
  }
}
header .navbar .brand.logo img.placeholder {
  border-color: #eee;
}
@media only screen and (min-width: 801px) {
  header .navbar nav {
    width: 50%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  header .navbar nav {
    width: 60%;
  }
}
@media only screen and (max-width: 500px) {
  header .navbar nav {
    width: 100%;
    margin-top: 16px;
  }
}
header .navbar nav ul {
  display: flex ;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
header .navbar nav a {
  background-color: do-not-change;
  color: inherit;
  text-decoration: none;
}
header .navbar nav a:hover {
  background-color: do-not-change;
  color: inherit;
  text-decoration: underline;
}
header .navbar nav .button.sign-up {
  display: inline-block;
  -webkit-border-radius: 1.8em;
  -moz-border-radius: 1.8em;
  border-radius: 1.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid #eee;
  background-color: #eee;
  color: #3D6B4B;
  text-decoration: none;
}
header .navbar nav .button.sign-up:hover {
  background-color: rgba(238, 238, 238, 0.8);
  color: #3D6B4B;
  text-decoration: underline;
}
header .navbar nav .button.log-in {
  display: inline-block;
  -webkit-border-radius: 1.8em;
  -moz-border-radius: 1.8em;
  border-radius: 1.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid #eee;
  background-color: rgba(238, 238, 238, 0);
  color: #eee;
  text-decoration: none;
}
header .navbar nav .button.log-in:hover {
  background-color: rgba(238, 238, 238, 0.2);
  color: #eee;
  text-decoration: underline;
}
main section {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: white;
  color: inherit;
}
.init-cta {
  position: relative;
  height: 360px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #518999;
  color: #eee;
}
.init-cta .hero-image {
  height: 100%;
  width: 100%;
  background-image: url('../../images/jason-leung-DxK_D-dWJPo-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  filter: blur(1px);
}
.init-cta .blurb {
  position: absolute;
  top: 64px;
  left: 64px;
}
.init-cta .blurb p {
  text-shadow: 0px 0px 0.2em #111, -2px -2px 0.2em #111, -2px 2px 0.2em #111, 2px -2px 0.2em #111, 2px 2px 0.2em #111;
}
@media only screen and (min-width: 801px) {
  .init-cta .blurb p {
    font-size: 3.6rem;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  .init-cta .blurb p {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .init-cta .blurb p {
    font-size: 2.4rem;
  }
}
.init-cta .blurb p:last-of-type {
  margin-bottom: 32px;
}
.init-cta .blurb .buttons > * {
  margin-left: 8px;
  margin-right: 8px;
}
.init-cta .blurb .buttons > *:first-child {
  margin-left: 0;
}
.init-cta .blurb .buttons > *:last-child {
  margin-right: 0;
}
.init-cta .blurb .button.sign-up {
  display: inline-block;
  -webkit-border-radius: 1.8em;
  -moz-border-radius: 1.8em;
  border-radius: 1.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid #eee;
  background-color: #eee;
  color: #111;
  text-decoration: none;
}
.init-cta .blurb .button.sign-up:hover {
  background-color: rgba(238, 238, 238, 0.8);
  color: #111;
  text-decoration: underline;
}
.init-cta .blurb .button.log-in {
  display: inline-block;
  -webkit-border-radius: 1.8em;
  -moz-border-radius: 1.8em;
  border-radius: 1.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid #eee;
  background-color: rgba(238, 238, 238, 0);
  color: #eee;
  text-decoration: none;
}
.init-cta .blurb .button.log-in:hover {
  background-color: rgba(238, 238, 238, 0.2);
  color: #eee;
  text-decoration: underline;
}
.exit-cta {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  background-color: #99B272;
  color: #eee;
}
.exit-cta div.sign-up,
.exit-cta div.log-in {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.exit-cta .button.sign-up {
  display: inline-block;
  -webkit-border-radius: 1.8em;
  -moz-border-radius: 1.8em;
  border-radius: 1.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid #eee;
  background-color: #eee;
  color: #99B272;
  text-decoration: none;
}
.exit-cta .button.sign-up:hover {
  background-color: rgba(238, 238, 238, 0.8);
  color: #99B272;
  text-decoration: underline;
}
.exit-cta .button.log-in {
  display: inline-block;
  -webkit-border-radius: 1.8em;
  -moz-border-radius: 1.8em;
  border-radius: 1.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid #eee;
  background-color: rgba(238, 238, 238, 0);
  color: #eee;
  text-decoration: none;
}
.exit-cta .button.log-in:hover {
  background-color: rgba(238, 238, 238, 0.2);
  color: #eee;
  text-decoration: underline;
}
footer {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #333;
  color: #eee;
  font-size: 1.2rem;
}
footer div {
  margin-top: 16px;
  margin-bottom: 16px;
}
footer div:first-child {
  margin-top: 0;
}
footer div:last-child {
  margin-bottom: 0;
}
footer .brand.logo {
  font-size: 2.4rem;
}
footer .brand.logo img.placeholder {
  background-color: #eee;
  border-color: #eee;
}
footer .thanks * {
  margin-top: 8px;
  margin-bottom: 8px;
}
footer .thanks *:first-child {
  margin-top: 0;
}
footer .thanks *:last-child {
  margin-bottom: 0;
}
footer .thanks a {
  background-color: none;
  color: #F686BD;
  text-decoration: none;
}
footer .thanks a:hover {
  background-color: none;
  color: #F686BD;
  text-decoration: underline;
}
footer .copyright {
  text-align: center;
}
body > header,
body > footer {
  margin-left: 0;
  margin-right: 0;
}
@media only screen and (min-width: 801px) {
  body > header > .wrapper,
  body > footer > .wrapper {
    margin-left: 64px;
    margin-right: 64px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body > header > .wrapper,
  body > footer > .wrapper {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media only screen and (max-width: 500px) {
  body > header > .wrapper,
  body > footer > .wrapper {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media only screen and (min-width: 801px) {
  body > main {
    margin-left: 64px;
    margin-right: 64px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body > main {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media only screen and (max-width: 500px) {
  body > main {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media only screen and (min-width: 801px) {
  body.home .features .wrapper {
    display: flex ;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body.home .features .wrapper {
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}
@media only screen and (max-width: 500px) {
  body.home .features .wrapper {
    display: flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}
body.home .features .card {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
body.home .features .card .cool {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
body.home .features .card:nth-of-type(5n + 1) .cool {
  background-color: #518999;
}
body.home .features .card:nth-of-type(5n + 2) .cool {
  background-color: #75B7B7;
}
body.home .features .card:nth-of-type(5n + 3) .cool {
  background-color: #995B58;
}
body.home .features .card:nth-of-type(5n + 4) .cool {
  background-color: #3D6B4B;
}
body.home .features .card:nth-of-type(5n) .cool {
  background-color: #99B272;
}
body.home .features .card .info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
@media only screen and (min-width: 801px) {
  body.home .features .card {
    flex-basis: 30%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body.home .features .card {
    flex-basis: 45%;
  }
}
@media only screen and (max-width: 500px) {
  body.home .features .card {
    flex-basis: 100%;
  }
}
body.home .features .card .cool {
  min-height: 256px;
  min-width: 256px;
}
body.home .features .card .cool > * {
  height: 100%;
  width: 100%;
}
body.home .features .card .cool .icon.wrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  font-size: 5rem;
  text-shadow: 0px 0px 0.2em #111, -2px -2px 0.2em #111, -2px 2px 0.2em #111, 2px -2px 0.2em #111, 2px 2px 0.2em #111;
}
body.home .features .card .cool .icon.wrapper i {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
body.home .features #feature--schedules .feature.image {
  background-image: url('../../images/features/carly-kewley-YUiraXikd6Q-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  filter: blur(2px);
}
body.home .features #feature--reminders .feature.image {
  background-image: url('../../images/features/ludovic-gauthier-vCKl84jpaZM-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  filter: blur(2px);
}
body.home .features #feature--database .feature.image {
  background-image: url('../../images/features/markus-spiske-4PG6wLlVag4-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  filter: blur(2px);
}
body.home .target-users .target-users.wrapper {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
body.home .target-users .target-user.card {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  flex-basis: 100%;
}
body.home .target-users .target-user.card > * {
  flex-basis: 50%;
}
body.home .target-users .target-user.card .cool {
  min-height: 256px;
  flex-shrink: 1;
  flex-grow: 1;
}
body.home .target-users .target-user.card .cool > * {
  height: 100%;
  width: 100%;
}
body.home .target-users .target-user.card .info {
  flex-shrink: 4;
  flex-grow: 1;
}
body.home .target-users .target-user.card:nth-of-type(2n+1) {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  flex-direction: row;
}
body.home .target-users .target-user.card:nth-of-type(2n+1) .cool {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n + 1) .cool {
  background-color: #518999;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n + 2) .cool {
  background-color: #75B7B7;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n + 3) .cool {
  background-color: #995B58;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n + 4) .cool {
  background-color: #3D6B4B;
}
body.home .target-users .target-user.card:nth-of-type(2n+1):nth-of-type(5n) .cool {
  background-color: #99B272;
}
body.home .target-users .target-user.card:nth-of-type(2n+1) .info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
body.home .target-users .target-user.card:nth-of-type(2n) {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  flex-direction: row-reverse;
}
body.home .target-users .target-user.card:nth-of-type(2n) .cool {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n + 1) .cool {
  background-color: #518999;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n + 2) .cool {
  background-color: #75B7B7;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n + 3) .cool {
  background-color: #995B58;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n + 4) .cool {
  background-color: #3D6B4B;
}
body.home .target-users .target-user.card:nth-of-type(2n):nth-of-type(5n) .cool {
  background-color: #99B272;
}
body.home .target-users .target-user.card:nth-of-type(2n) .info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
@media only screen and (max-width: 500px) {
  body.home .target-users .target-user.card:nth-of-type(1n) {
    display: flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #333;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    flex-direction: column;
  }
  body.home .target-users .target-user.card:nth-of-type(1n) .cool {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n + 1) .cool {
    background-color: #518999;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n + 2) .cool {
    background-color: #75B7B7;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n + 3) .cool {
    background-color: #995B58;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n + 4) .cool {
    background-color: #3D6B4B;
  }
  body.home .target-users .target-user.card:nth-of-type(1n):nth-of-type(5n) .cool {
    background-color: #99B272;
  }
  body.home .target-users .target-user.card:nth-of-type(1n) .info {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
body.home .target-users #target-user--casual-gardeners .target-user.image {
  background-image: url('../../images/target-users/freddie-marriage-UcfKYTan-LU-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  filter: none;
}
body.home .target-users #target-user--home-gardeners .target-user.image {
  background-image: url('../../images/target-users/cherry-laithang-DEAIMSWjxxI-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  filter: none;
}
body.home .target-users #target-user--industry .target-user.image {
  background-image: url('../../images/target-users/christin-noelle-kwJfZxunoHc-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  filter: none;
}
body.about .our-team .team-members.wrapper {
  display: flex ;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
body.about .our-team .team-member.card {
  display: flex ;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
body.about .our-team .team-member.card .cool {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
body.about .our-team .team-member.card:nth-of-type(5n + 1) .cool {
  background-color: #518999;
}
body.about .our-team .team-member.card:nth-of-type(5n + 2) .cool {
  background-color: #75B7B7;
}
body.about .our-team .team-member.card:nth-of-type(5n + 3) .cool {
  background-color: #995B58;
}
body.about .our-team .team-member.card:nth-of-type(5n + 4) .cool {
  background-color: #3D6B4B;
}
body.about .our-team .team-member.card:nth-of-type(5n) .cool {
  background-color: #99B272;
}
body.about .our-team .team-member.card .info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
@media only screen and (min-width: 801px) {
  body.about .our-team .team-member.card {
    flex-basis: 30%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  body.about .our-team .team-member.card {
    flex-basis: 45%;
  }
}
@media only screen and (max-width: 500px) {
  body.about .our-team .team-member.card {
    flex-basis: 100%;
  }
}
body.about .our-team .team-member.card .cool {
  display: flex ;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
body.about .our-team .team-member.card .cool img.team-member.photo {
  height: 128px;
  width: 128px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #eee;
  background-color: #111;
}
.brand.logo {
  font-family: 'Modak', sans-serif;
  display: flex ;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.brand.logo img {
  flex-shrink: 0;
  flex-grow: 0;
}
.brand.logo img.placeholder {
  height: 1.5em;
  width: 1.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #F686BD;
  border: 2px solid #F686BD;
}
.brand.logo span {
  margin-top: 0.2em;
  margin-left: 0.4em;
}
