body.about {
  .our-team {
    .team-members.wrapper {
      .flex-center(row ; wrap ; stretch);
    }

    .team-member.card {
      .x-card(t-b);
      .ma(@w-4);
      // flex-grow: 1;
      // flex-shrink: 1;

      @media @is-desktop {
        flex-basis: 30%;
      }
      @media @is-tablet {
        flex-basis: 45%;
      }
      @media @is-phone {
        flex-basis: 100%;
      }

      .cool {
        .flex-center();
        .pa(@card-cool-pa);

        // background-color: @main-color !important;

        img.team-member.photo {
          width: (2 * @w-8);
          .circle();
          border: @w-2 solid @light-color;
          background-color: @dark-color;
        }
      }

      .info {
        .social {
          font-size: 2.4rem;

          a {
            .hover-decor(@fg-color: lighten(@main-color , 50%); @text-decor: none);
          }
        }
      }
    }
  }
}
