.brand.logo {
  font-family: @brand-font;
  .flex-center();

  img {
    background-color: @brand-color;

    &.placeholder {
      .size-hw(1.5em);
      border-radius: 50%;
      border: @w-2 solid @light-color;
    }
  }

  span {
    .ma-t(0.2em);
    .ma-l(0.4em);
  }
}
