.brand.logo {
  font-family: @brand-font;
  .flex-center();

  img {
    background-color: @brand-color;

    &.placeholder {
      .size-hw(1.6em);
      border-radius: 50%;
      border: 1px solid @light-color;
    }
  }

  span {
    .pa-t(0.2em);
    .pa-l(0.4em);
  }
}
