body.home {
  .features {
    .features.wrapper {
      @media @is-desktop {
        .flex-center(row ; nowrap ; stretch);
      }
      @media @is-tablet {
        .flex-center(row ; wrap ; stretch);
      }
      @media @is-phone {
        .flex-center(column ; nowrap ; stretch);
      }
    }

    .feature.card {
      .x-card(t-b);
      .ma-tblr(@w-4);
      flex-basis: 33%;
      flex-grow: 1;
      flex-shrink: 1;

      .cool {
        .min-size-hw(@w-8);
      }

      /// alternating colors
      &:nth-of-type(3n) {
        .cool {
          background-color: @color-1;
        }
      }
      &:nth-of-type(3n+1) {
        .cool {
          background-color: @color-2;
        }
      }
      &:nth-of-type(3n+2) {
        .cool {
          background-color: @color-3;
        }
      }
    }
  }

  .target-users {
    .target-users.wrapper {
      .flex-center(column ; nowrap ; stretch);
    }

    .target-user.card {
      .ma-tblr(@w-4);
      width: 100%;

      .cool {
        .min-size-hw(2 * @w-8);
      }

      /// alternating layout
      &:nth-of-type(2n+1) {
        .x-card(l-r);
      }
      &:nth-of-type(2n) {
        .x-card(r-l);
      }

      /// alternating colors
      &:nth-of-type(3n) {
        .cool {
          background-color: @color-1;
        }
      }
      &:nth-of-type(3n+1) {
        .cool {
          background-color: @color-2;
        }
      }
      &:nth-of-type(3n+2) {
        .cool {
          background-color: @color-3;
        }
      }

      /// reshape when on phone
      @media @is-phone {
        &:nth-of-type(1n) { // need this for higher specificity
          .x-card(t-b);
        }
      }
    }
  }
}