body.home {
  .features {
    .features.wrapper {
      @media @is-desktop {
        .flex-center(row ; nowrap ; stretch);
      }
      @media @is-tablet {
        .flex-center(row ; wrap ; stretch);
      }
      @media @is-phone {
        .flex-center(column ; nowrap ; stretch);
      }
    }

    .feature.card {
      .x-card(t-b);
      .ma(@w-4);
      // flex-grow: 1;
      // flex-shrink: 1;

      @media @is-desktop {
        flex-basis: 30%;
      }
      @media @is-tablet {
        flex-basis: 45%;
      }
      @media @is-phone {
        flex-basis: 100%;
      }

      .cool {
        .min-size-hw(@w-8);
      }
    }
  }

  .target-users {
    .target-users.wrapper {
      .flex-center(column ; nowrap ; stretch);
    }

    .target-user.card {
      .ma(@w-4);
      width: 100%;

      .cool {
        .min-size-hw(2 * @w-8);
      }

      /// alternating layout
      &:nth-of-type(2n+1) {
        .x-card(l-r);
      }
      &:nth-of-type(2n) {
        .x-card(r-l);
      }

      /// reshape when on phone
      @media @is-phone {
        &:nth-of-type(1n) { // need this for higher specificity
          .x-card(t-b);
        }
      }
    }
  }
}