header {
  background-color: @color-4;
  color: @light-color;

  .navbar {
    .flex-space-between();
    .pa-tb(@w-5);
  
    @media @is-phone {
      .flex-center(column);
      max-height: 12.5vh;
    }
    
    .brand.logo {
      font-size: 3.6rem;
    }
  
    nav {
      width: 50%;
  
      ul {
      .flex-space-between();
      }
  
      a {
        .x-link();
      }
    }
  }
}