.init-cta {
  position: relative;
  height: 360px;
  padding: 0;
  // .flex-center(column); // center contents
  .full-width();
  .init-cta-decor();

  .hero-image {
    .size-hw(100%);
    .x-back-image(
      @image:  url('../../images/jason-leung-DxK_D-dWJPo-unsplash.jpg') ;
      @filter: blur(@w-1)
    );
  }

  .blurb {
    position: absolute;
    top: @w-7;
    left: @w-7;

    p {
      .x-text-shadow();

      @media @is-desktop {
        font-size: 3.6rem;
      }
      @media @is-tablet {
        font-size: 3.0rem;
      }
      @media @is-phone {
        font-size: 2.4rem;
      }

      &:last-of-type {
        .ma-b(@w-6);
      }
    }

    .buttons {
      & > * {
        .ma-lr(@w-4);
        .end-ma-lr(0);
      }
    }

    .button.sign-up {
      .x-button(solid ; @init-cta-fore-color ; @dark-color);
    }
    .button.log-in {
      .x-button(outline ; fadeout(@init-cta-fore-color ; 100%) ; @init-cta-fore-color);
    }
  }
}