header {
  .flex-center(column);
  width: 100%;
  .pa-tb(@w-5);

  .header-decor();

  .navbar {
    align-self: stretch;
    .flex-space-between();
  
    @media @is-phone {
      .flex-center(column);
      max-height: 12.5vh;
    }
    
    .brand.logo {
      font-size: 3.6rem;

      img.placeholder {
        border-color: @header-fore-color;
      }
    }
  
    nav {
      width: 50%;
  
      ul {
      .flex-space-between();
      }
  
      a {
        .x-link();
      }
    }
  }
}