///*********************************************************
/// variables
///*********************************************************

///*************************************
/// media
///*************************************

@phone-max-width:   500px;
@tablet-min-width:  @phone-max-width + 1px;
@tablet-max-width:  800px;
@desktop-min-width: @tablet-max-width + 1px;

@is-phone:   ~"only screen and (max-width: @{phone-max-width})";
@is-tablet:  ~"only screen and (min-width: @{tablet-min-width}) and (max-width: @{tablet-max-width})";
@is-desktop: ~"only screen and (min-width: @{desktop-min-width})";

///*************************************
/// typography
///*************************************

@import url('https://fonts.googleapis.com/css?family=Baloo|Modak|Rubik&display=swap');

@brand-font:   'Modak', sans-serif;
@heading-font: 'Baloo', sans-serif;
@main-font:    'Rubik', sans-serif;

///*************************************
/// colors
///*************************************

@black: black;
@white: white;
@main-color:  #333;
@dark-color:  #111;
@light-color: #eee;

@color-1: #518999;
@color-2: #75B7B7;
@color-3: #995B58;
@color-4: #3D6B4B;
@color-5: #99B272;

@brand-color: #F686BD;

///*************************************
/// sizes
///*************************************

@w-1: 1px;
@w-2: 2px;
@w-3: 4px;
@w-4: 8px;
@w-5: 16px;
@w-6: 32px;
@w-7: 64px;
@w-8: 128px;

///*************************************
/// buttons
///*************************************

@button-height:       1.8em;
@button-corner:       (@button-height / 2);
@button-border-width: @w-2;
@button-pa-tb:        (@button-corner / 2);
@button-pa-lr:        (@button-corner / 2);

///*************************************
/// cards
///*************************************

@card-corner:       @w-4;
@card-border-width: @w-1;
@card-border-color: lighten(@main-color , 50%);
@card-cool-pa:      @card-corner;
@card-info-pa-tb:   @card-corner;
@card-info-pa-lr:   @card-corner;

///*********************************************************
/// page component styles
///*********************************************************

/// header
@header-back-color: @color-4;
@header-fore-color: @light-color;
.header-decor() {
  background-color: @header-back-color;
  color: @header-fore-color;
}

/// init-cta
@init-cta-back-color: @color-1;
@init-cta-fore-color: @light-color;
.init-cta-decor() {
  background-color: @init-cta-back-color;
  color: @init-cta-fore-color;
}

/// main section decor
@main-back-color: @white;
@main-fore-color: inherit;
.main-decor() {
  background-color: @main-back-color;
  color: @main-fore-color;
}

/// exit-cta
@exit-cta-back-color: @color-5;
@exit-cta-fore-color: @light-color;
.exit-cta-decor() {
  background-color: @exit-cta-back-color;
  color: @exit-cta-fore-color;
}

/// footer
@footer-back-color: @main-color;
@footer-fore-color: @light-color;
.footer-decor() {
  background-color: @footer-back-color;
  color: @footer-fore-color;
}
